.wrapper{
  text-align:center;
  vertical-align:top;
}
.checkbox1{
  
  height:auto;
  width:200px;
  display:inline-block;
}
.checkbox1 img{
  height:200px;
  width:200px;
  display:block;
}
.checkbox1 span{
  margin:5px;
  display:block;
}
.checkbox1 label{
  display:block;
  cursor:pointer;
  position:relative;
}
.checkbox1 label:before{
  content:"";
  display:block;
  width:50px;
  height:50px;
  margin:auto;
  position:absolute;
  left:0;
  right:0;
  top:75px;
  background-color:transparent;
  border-radius:50px;
}
.checkbox1 label:after{
  content:"";
  display:block;
  width:26px;
  height:12px;
  margin:auto;
  position:absolute;
  left:0;
  right:0;
  top:88px;
  border-left:5px solid transparent;
  border-bottom:5px solid transparent;
  transform:rotate(-45deg);
}
.checkbox1 input[type=checkbox]{
  display:none;
}
.checkbox1 input[type=checkbox]:checked + label:before{
  background-color:#8dc3ff;
}
.checkbox1 input[type=checkbox]:checked + label:after{
  border-color:#fff;
}
.superbutton_1 {
width:260px;
height:60px;
border-radius:30px;
background:#337ab7;
color:#fff;
font-size:18px;
cursor:pointer;
margin:0 auto;
}
.superbutton_1:hover{
background:#358DE5;
}