.wrapper{
  text-align:center;
  vertical-align:top;
}
.checkbox1{
  
  height:auto;
  width:100px;
  display:inline-block;
}
.checkbox1 img{
  height:100px;
  width:100px;
  display:block;
}
.checkbox1 span{
  margin:5px;
  display:block;
}
.checkbox1 label{
  display:block;
  cursor:pointer;
  position:relative;
}
.checkbox1 label:before{
  content:"";
  display:block;
  width:25px;
  height:25px;
  margin:auto;
  position:absolute;
  left:0;
  right:0;
  top:45px;
  background-color:transparent;
  border-radius:50px;
}
.checkbox1 label:after{
  content:"";
  display:block;
  width:13px;
  height:7px;
  margin:auto;
  position:absolute;
  left:0;
  right:0;
  top:52px;
  border-left:2px solid transparent;
  border-bottom:2px solid transparent;
  transform:rotate(-45deg);
}
.checkbox1 input[type=checkbox]{
  display:none;
}
.checkbox1 input[type=checkbox]:checked + label:before{
  background-color:#8dc3ff;
}
.checkbox1 input[type=checkbox]:checked + label:after{
  border-color:#fff;
}
.superbutton_1 {
width:180px;
height:35px;
border-radius:40px;
background:#337ab7;
color:#fff;
font-size:14px;
cursor:pointer;
margin:0 auto;
}
.superbutton_1:hover{
background:#358DE5;
}
.superbutton_2_left {
width:180px;
height:45px;
border-radius:40px;
background:#337ab7;
color:#fff;
font-size:14px;
cursor:pointer;
margin:0 auto;
margin:left-side;
float:left;
margin-right:0px;
}
.superbutton_2_left:hover{
background:#358DE5;
}
.superbutton_2_right {
width:180px;
height:45px;
border-radius:40px;
background:#337ab7;
color:#fff;
font-size:14px;
cursor:pointer;
margin:0 auto;
margin:right-side;
float:right;
margin-right:0px;
}
.superbutton_2_right:hover{
background:#358DE5;
}
.footer{
    background-color: #c0c0c04d;
    color: gray;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.background-img-block{
    background-image:url(field.jpg); 
	background-size: cover;
    background-repeat:no-repeat;
	width: 100%; 
	justify-content: center; 
	align-items: center;
	background-position:center;
	color:#ffffff;
	webkit-filter: sepia(0.7);
	filter: sepia(0.8);"
	
	}
.result-viewer {
	padding-left:20px;
	padding-top: 5px;

}
.teams-result-viewer {

	padding-left:40px;
}
.players-result-viewer {
	padding-left:40px;
	font-size:10pt;
	font-style: italic;
	
}
.teams-result-viewer-left {
	padding-left:20px;
}
.players-result-viewer-left {
	padding-left:20px;
	font-size:10t;
	font-style: italic;
	
}
.average-stats-viewer-left {
	padding-left:20px;
	padding-top:5px;
	font-size:10pt;
	font-style: oblique;
}
.average-stats-viewer {
	padding-left:40px;
	padding-top:5px;
	font-size:10pt;
	font-style: oblique;
}
.nav_fonts{
	font-size:10pt;
}
.sticky-block {
	position: sticky;
	bottom: 0;
}
.inline-blocks {
	display: inline-block;

}
.ui card1 {
	height: auto;
    width: 100px;
    display: inline-block;
}