<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


{% extends "base.html" %}

{% block navigation %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
<div>
    <h2 style="padding:20px">Добро пожаловать в Team Generator!</h2>
</div>
<div>

</div>
<h3 style="padding:20px">Для поднятия настроения немного цитат о футболе:</h3>
<blockquote>
    <p>Счет не важен, важно выиграть.</p>
    <footer> &copy; Хиддинк</footer>
</blockquote>

<blockquote>
    <p>Пенальти — это смертный приговор, при котором палач может стать жертвой.</p>
    <footer> &copy; Франческо Тотти</footer>
</blockquote>
<blockquote>
    <p>Если ты не знаешь, что делать с мячом, запульни его в сетку, а нюансы мы уже обсудим потом.</p>
    <footer> &copy; Боб Пейсли</footer>
</blockquote>
<blockquote>
    <p>Правила футбола чрезвычайно просты. Если мяч движется, пни его. Если не движется, пни, чтоб двигался.</p>
    <footer> &copy; Фил Вуснам</footer>
</blockquote>
<blockquote>
    <p>Я не верю в суеверия. Я просто делаю некоторые вещи из-за страха, что что-нибудь может случиться, если я не
        сделаю их!</p>
    <footer> &copy; Майкл Оуэн</footer>
</blockquote>

{% endblock %}

    {% block date %}
    <p>{{ year }}</p>
    {% endblock %}

</html>