<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>


{% extends "base.html" %}

{% block content %}

<h2>Добро пожаловать в Team Generator!</h2>
<p>Для поднятия настроения немного цитат о футболе:
<ul>
    <li>
        <p>Щетина, грязь, запах помойки.. ммм… Да ты футболист!</p>
    </li>
    <li>
        <p>Мяч круглый,поле ровное.
    </li>
    <li>
        <p>Мяч пошел налево — ему можно.
    </li>
    <li>
        <p>Счет не важен, важно выиграть. &copy; Хиддинк</p>
    </li>
    <li>
        <p>Mало попасть по воротам, нужно ещё промахнуться по вратарю!</p>
    </li>

</ul>
{% endblock %}

{% block date %}
<p>{{ year }}</p>
{% endblock %}

</html></html>