<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/photos/static.css" rel="stylesheet">

    {% extends "base.html" %}

    {% block navigation %}

    <div class="row">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation"><a href="/"><h4>Главная</h4></a></li>
          <li role="presentation"><a href="/team_gen/"><h4>Сформировать команды</h4></a></li>
          <li role="presentation"><a href="/players/"><h4>Наши футболисты</h4></a></li>
        </ul>
    </div>
    {% endblock %}

    {% block result %}

    <table width="100%" cellspacing="0" cellpadding="5">
            {% block viewer %}
                <div class="center-block">
                    <h2>Команды сформированы!</h2>
                </div>
            <td width="49%" valign="top">

                <h3>Команда №1:
                    {% for player in team1 %}
                        </h3><p>{{ player.name }}</p>
                    {% endfor %}
                <p><em>Общий показатель: {{team1_power}}</em></p>
            </td>
            <td valign="top">
                <h3>Команда №2:
                    {% for player in team2 %}
                        </h3><p>{{ player.name }}</p>
                    {% endfor %}
                <p><em>Общий показатель: {{team2_power}}</em></p>
                {% endblock %}
            </td>

    </table>

    <div>
        <p></p>
        <input type="button" onclick="location.href='/team_gen/'" value="К выбору игроков">
    </div>
    {% endblock %}


{% block date %}
<p>{{ year }}</p>
{% endblock %}

</html>