<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>

{% extends "base.html" %}

{% block content %}

<h2>Сформируй команды! </h2>
<h3>Выберите активных игроков:</h3>

<!--<label><input type="checkbox" name="Евгений Журбенко"><span></span></label>-->
<form action="/team_gen/" method="POST">

    {% for player in players %}
    <label>
    <input type="checkbox" name="myPlayer" value="{{ player.name }}">  {{ player.name }}
    </label>

    {% endfor %}

{% endblock %}

{% block button %}
<p></p>
<button type="submit">Сформировать команды</button>
{% endblock %}
<table width="100%" cellspacing="0" cellpadding="5">
    <tr>
        <td width="49%" valign="top">
            {% block viewer %}
            <h2>Команды сформированы!</h2>
            <h3>Команда №1:
            {% for player in team1 %}
            </h3><p>{{ player.name }}</p>
            {% endfor %}
            <p>Общий показатель: {{team1_power}}</p>
        </td>
            <td valign="top">
                <h3>Команда №2:
                {% for player in team2 %}
                </h3><p>{{ player.name }}</p>
                {% endfor %}
                <p>Общий показатель: {{team2_power}}</p>
                {% endblock %}
            </td>
    </tr>
</table>
</form>
{% block date %}
<p>{{ year }}</p>
{% endblock %}

</html>