<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/photos/static.css" rel="stylesheet">

    {% extends "base.html" %}

    {% block navigation %}

    <div class="row">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation"><a href="/">Главная</a></li>
          <li role="presentation"><a href="/team_gen/">Сформировать команды</a></li>
          <li role="presentation"><a href="/players/">Наши футболисты</a></li>
        </ul>
    </div>
    {% endblock %}

{% block result %}

<table width="100%" cellspacing="0" cellpadding="5">
            {% block viewer %}
            <h2>Команды сформированы!</h2>
        <td width="49%" valign="top">

            <h3>Команда №1:
                {% for player in team1 %}
                    </h3><p>{{ player.name }}</p>
                {% endfor %}
            <p>Общий показатель: {{team1_power}}</p>
        </td>
            <td valign="top">
                <h3>Команда №2:
                    {% for player in team2 %}
                        </h3><p>{{ player.name }}</p>
                    {% endfor %}
                <p>Общий показатель: {{team2_power}}</p>
                {% endblock %}
            </td>

</table>

<!--<div>-->
<!--    <p>-->
<!--        {{ team1_power }}-->
<!--    </p>-->
<!--</div>-->

{% endblock %}
{% block date %}
<p>{{ year }}</p>
{% endblock %}

</html>